<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itlike.mapper.HeroMapper">

    <select id="getHeroWithId" resultType="com.itlike.pojo.TbHero">
        select * from tb_hero where id = #{id}
    </select>
</mapper>